# if, elif, else

In [1]:
if True:
    print('Hello World')

Hello World

In [7]:
is_active = False

if is_active:
    print('User is activate')

In [10]:
is_active = False

if is_active:
    print('User is activate')
else:
    print('User is not active')

User is not active

In [14]:
role = 'editor'

if role == 'admin':
    print('Welcome Admin!')
elif role == 'author':
    print('Welcome Author!')
elif role == 'editor':
    print('Welcome Editor!')
else:
    print('Welcome User')

Welcome Editor!

# for loops

In [23]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### example 1

In [20]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

### example 2

In [24]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

### example 3

In [32]:
odd_list = []
even_list = []

In [33]:
# for num in list1:
#     if num % 2 == 0:
#         even_list.append(num)
#     else:
#         odd_list.append(num)
for num in list1:
    if num % 2 == 1:
        odd_list.append(num)
    else:
        even_list.append(num)

In [34]:
print(odd_list)
print(even_list)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

### example 4

In [35]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
list_sum = 0

for num in list1:
    list_sum += num

In [37]:
print(list_sum)

55

### example 5

In [41]:
even_sum = 0
odd_sum = 1

for num in list1:
    if num % 2 == 1:
        even_sum += num
    else:
        odd_sum *= num
        
print(even_sum)
print(odd_sum)

25
3840

### example 6

In [42]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

### example 7

In [43]:
tup = (1, 2, 3, 4, 5)

In [44]:
for t in tup:
    print(t)

1
2
3
4
5

### example 8

In [45]:
list2 = [(1, 2), (3, 4), (5, 6)]

In [46]:
for tup in list2:
    print(tup)

(1, 2)
(3, 4)
(5, 6)

### example 9

#### آنپک کردن تاپل

In [50]:
for t1,t2 in list2:
    print(t1, '\t' ,t2)

1 	 2
3 	 4
5 	 6

### example 10

In [51]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [52]:
for item in d:
    print(item)

k1
k2
k3

In [53]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

#### آنپک کردن دیکشنری

In [56]:
for key,value in d.items():
    print(key, '\t' ,value)

k1 	 1
k2 	 2
k3 	 3

### تمرین: برنامه ای بنویسید که مجموع ارقام دیکشنری را محاسبه کند

In [1]:
my_d = {'k1': 1, 'k2': 2, 'k3': 3}

In [3]:
sum = 0
for value in my_d.values():
    sum += value
print(sum)

6