# while

In [11]:
x = 0

while x < 10:
#   x += 1
    print(x)
    x += 1
print('All Done!')

0
1
2
3
4
5
6
7
8
9
All Done!

## while/else

In [7]:
z = 0

while z <= 10:
    print(z)
    z += 2
else:
    print('All Done!')

0
2
4
6
8
10
All Done!

# break, continue, pass

In [12]:
for item in [1, 2, 3]:
    pass

In [25]:
my_str = "Python"

for letter in my_str:
    if letter == 't':
#         continue
        break
    print(letter)

P
y

# range()

In [23]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [24]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

# enumerate()

In [26]:
my_str

'Python'

In [28]:
index = 0 
for letter in my_str:
    print(index,letter)
    index += 1

0 P
1 y
2 t
3 h
4 o
5 n

In [30]:
list(enumerate(my_str))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [33]:
for i,j in enumerate(my_str):
    print(i,j)

0 P
1 y
2 t
3 h
4 o
5 n

# zip()

In [48]:
list1 = [1,2,3,4]
list2 = ['a','d','b','c']
list3 = [100,200,300,400]

list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'd', 200), (3, 'b', 300), (4, 'c', 400)]

# in/not in

In [39]:
'a' in ['a','b','c','d']

True

In [40]:
20 in [100,200,300,400]

False

In [43]:
'P' not in 'python'

True

# min() / max()

In [49]:
list2

['a', 'd', 'b', 'c']

In [50]:
max(list2)

'd'

In [52]:
my_num = [0, 100, -5, 20]

min(my_num)

-5

In [55]:
my_char = ['a', 'z', 'Z', 'A','B']

print(f'maximum letter {max(my_char)} minimum letter {min(my_char)}')

maximum letter z minimum letter A

# input()

In [56]:
input('Please enter your name: ')

Please enter your name: Ali

'Ali'

In [57]:
input('Please enter your age: ')

Please enter your age: 25

'25'

In [62]:
age = int(input('Please enter your age: '))

Please enter your age: 30

In [60]:
age

30

# List comprehensions

In [63]:
lst = [x for x in "Python"]

In [64]:
lst

['P', 'y', 't', 'h', 'o', 'n']

In [65]:
lst2 = [x**2 for x in range(1,10)]

In [66]:
lst2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
lst3 = [x for x in range(11) if x % 2 == 0]

In [72]:
lst3

[0, 2, 4, 6, 8, 10]

In [75]:
cil = [10, 0, 30.5, 100.1]

fahr = [((9/5)*temp + 32) for temp in cil]
# fahr = [((9/5)*temp + 32) for temp in cil if temp > 100]
print(fahr)

[50.0, 32.0, 86.9, 212.18]

In [77]:
lst4 = [x**2 for x in [x**2 for x in range(11)]]
print(lst4)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]