#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [21]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [22]:
# Check
lesser_of_two_evens(2,4)

2

In [23]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [24]:
def animal_crackers(text):
    list_word = text.split()
    return list_word[0][0] == list_word[1][0]

In [25]:
# Check
animal_crackers('Levelheaded Llama')

True

In [26]:
# Check
animal_crackers('Cazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [27]:
def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [28]:
# Check
makes_twenty(20,10)

True

In [29]:
# Check
makes_twenty(2,3)

False

#### LEARN PYTHON: Write a function that capitalizes the first and fourth letters of a name
     
    learn_python('learnpython') --> LeaRnpython

In [30]:
def learn_python(name):
    pass

In [31]:
# Check
learn_python('learnpython')

#### WORD REVERSE: Given a sentence, return a sentence with the words reversed

    word_reverse('I am home') --> 'home am I'
    word_reverse('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [32]:
# def word_reverse(text):
#     return ' '.join(text.split()[::-1])
word_reverse = lambda text: ' '.join(text.split()[::-1])

In [33]:
# Check
word_reverse('I am home')

'home am I'

In [34]:
# Check
word_reverse('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [35]:
def almost_there(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)

In [36]:
# Check
almost_there(104)

True

In [37]:
# Check
almost_there(150)

False

In [38]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [39]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [nums[i],nums[i+1]]:
            return True
#         if nums[i] == 3 and nums[i+1] == 3:
#             return True
    return False

In [40]:
# Check
has_33([1, 3, 3])

True

In [41]:
# Check
has_33([3, 1, 1, 3])

True

In [42]:
# Check
has_33([3, 1, 3, 2 , 2])

True

#### THREE CHAR: Given a string, return a string where for every character in the original there are three characters
    three_char('Hello') --> 'HHHeeellllllooo'
    three_char('Ali') --> 'AAAllliii'

In [43]:
def three_char(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [44]:
# Check
three_char('Hello')

'HHHeeellllllooo'

In [45]:
# Check
three_char('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [84]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
    return total

In [85]:
# Check
summer_69([1, 3, 5])

9

In [86]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [82]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [97]:
def count_primes(num):
    pass

In [98]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!